<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./home.js"></script>
    <link rel="stylesheet" href="../style/home.css">

    <title>Name Sorter</title>
</head>
<body>
    <div id="header">
        Name Sorter
    </div>
    <div> 
        <input type="file" name="uploader" id="uploader" onchange="getData()">
        <label for="uploader">Choose File</label>
    </div>
    <div id="content">

    </div>
    
</body>
</html>